*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gainsboro;
}


@media print{
    .print{
        display: block;
    }
    .header{
        display: none;
    }
    .main{
        display: none;
    }
}